---
layout: base
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <title>{{ page.title }}</title>
    {% feed_meta %}
    {% seo %}
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
<!-- 
        <nav>
            {% include navigation.html %}
        </nav>
 -->
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </footer>
</body>
</html>
